.stApp{
    background: linear-gradient(
        135deg,
        #6cc3e8 0%,
        #e68f4c 50%,
        #e684d2 100%
    );
        min-height: 100vh;
        font-family: 'Segoe UI', sans-serif;
    }

.card{
    background-color: #000612;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    padding: 25px;
    margin-bottom: 25px;
}

h1,h2,h3{
    color: #0f172a
}

/*metric box*/
div[data-testid="metric-container"]{
    background-color:#010f1c;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.prediction-box{
    background:linear-gradient(
        135deg,
        #f35151,
        #d984e3
    );
        padding:22px;
        border-radius:14px;
        text-align:center;
        font-size:22px;
        font-weight:bold;
        color:#1453d;
        margin-top:15px;
}